<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Alexis Auto Grocer</h1>
		<form action="/new" method="POST">
			<label>Enter your name to get started!</label><br>
			<input type="text" name="name"><br>
			<input type="submit" value="Submit">
	</body>
</html>