<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<form action="/new" method="POST">
			<h1>Alexis Auto Grocer</h1>
			<h2><p><label>Enter your name to get started!</label></p></h2>
			<input type="text" name="name">
			<input type="submit" value="Submit">
		</form>
	</body>
	

</html>